version: 2.1
jobs:
  build:
    working_directory: ~/prace
    docker:
      - image: circleci/node:8
    steps:
      - checkout
      - run:
          name: update-npm
          command: 'sudo npm install -g npm@latest'
      - restore_cache:
          key: dependency-cache-{{ checksum "package-lock.json" }}
      - run:
          name: install libraries
          command: npm install
      - run: npm install mocha-circleci-reporter
      - save_cache:
          key: dependency-cache-{{ checksum "package-lock.json" }}
          paths:
            - ./node_modules

      - run: mkdir reports

      # Run mocha
      - run:
          name: Run tests
          command: >
            ./node_modules/.bin/nyc ./node_modules/.bin/mocha --reporter mocha-circleci-reporter 
            -r ts-node/register src/**/*.spec.ts --reporter-options mochaFile=./reports/mocha/test-results.xml
          when: always

      # Run tslint
      - run:
          name: tslint
          command: ./node_modules/.bin/tslint --project . --format junit --out ./reports/linter/tslint.xml
          when: always

      - store_artifacts:
          path: ./reports/mocha/test-results.xml
          prefix: tests

      - store_artifacts:
          path: ./reports/linter/tslint.xml

      - store_artifacts:
          path: coverage
          prefix: coverage

      - store_test_results:
          path: ./reports/mocha/test-results.xml